<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.storm.ninegag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.storm.9gag.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ImageViewActivity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.PreferenceActivity"
            android:theme="@style/TranslucentTheme" />
    </application>

</manifest>
